
        <p class="login-title">Its Free, Join Us</p></br>
        <p class="login-heading">Welcome to LNI Admin, Please SignUp with your personal account information.</p>
        <form action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">First name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Last name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Father name...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="date" id="">
                  <label class="mdl-textfield__label" for="">Date of Birth...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Highest Qualification...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Experience in Journalism...</label>
                </div>

                <p class="login-heading">Contact Details</p>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="">
                        <label class="mdl-textfield__label" for="">Mobile no...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">What'sApp no...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Email id(personal)...</label>
                </div>

                <p class="login-heading"> Languages(can write)</p>
                <ul>
                        <li>
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                        <span class="mdl-checkbox__label">Hindi</span>
                               </label>
                            </li>

                            <li>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                            <span class="mdl-checkbox__label">English</span>
                                   </label>
                                </li>

                                <li>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                <input type="checkbox" id="" class="mdl-checkbox__input" >
                                                <span class="mdl-checkbox__label">Regional</span>
                                       </label>
                                    </li>
                </ul>
                     
            </br>
            <div class="language-speak">
                <p class="login-heading"> Languages(can speak)</p>
                <ul class="">
                        <li>
                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                        <span class="mdl-checkbox__label">Hindi</span>
                               </label>
                            </li>

                            <li>
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                            <span class="mdl-checkbox__label">English</span>
                                   </label>
                                </li>

                                <li>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                <span class="mdl-checkbox__label">Regional</span>
                                       </label>
                                    </li>
                </ul>

            </div>

            </br>
            <p class="login-heading"> Document Details</p>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" id="">
                        <label class="mdl-textfield__label" for="">Adhar no...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="">
                  <label class="mdl-textfield__label" for="">Pan no...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Driving Licance...</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="">
                        <label class="mdl-textfield__label" for="">Passport No...</label>
                </div>


                <div class="present_income_source">
                        <p class="login-heading"> Present income source</p>
                        <ul class="">
                                <li>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                <span class="mdl-checkbox__label">Agriculture</span>
                                       </label>
                                    </li>
        
                                    <li>
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                    <span class="mdl-checkbox__label">Service</span>
                                           </label>
                                        </li>
        
                                        <li>
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                        <span class="mdl-checkbox__label">Business</span>
                                               </label>
                                            </li>

                                            <li>
                                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                            <span class="mdl-checkbox__label">Others</span>
                                                   </label>
                                                </li>    
                        </ul>
        
                    </div>


                    </br>

                    <div class="family_income_source">
                            <p class="login-heading">Family income source</p>
                            <ul class="">
                                    <li>
                                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                    <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                    <span class="mdl-checkbox__label">Agriculture</span>
                                           </label>
                                        </li>
            
                                        <li>
                                                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                        <span class="mdl-checkbox__label">Service</span>
                                               </label>
                                            </li>
            
                                            <li>
                                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                            <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                            <span class="mdl-checkbox__label">Business</span>
                                                   </label>
                                                </li>
    
                                                <li>
                                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="">
                                                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" >
                                                                <span class="mdl-checkbox__label">Others</span>
                                                       </label>
                                                    </li>    
                            </ul>
            
                        </div>
                        </br>

                    <div class="presenr_Address">    

                      <p class="login-heading">Present Address</p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:73%">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">Landmark...</label>
                        </div>
                        </br>
        
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <input class="mdl-textfield__input" type="text" id="">
                          <label class="mdl-textfield__label" for="">Village...</label>
                        </div>
        
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">Post...</label>
                        </div>
        
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">District...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">State...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">PIN Code...</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">STD Code...</label>
                        </div>
                    </div>

                </br>
                    <div class="permanent_Address">    

                            <p class="login-heading">Permanent Address</p>
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:73%">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">Landmark...</label>
                              </div>
                              </br>
              
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="">
                                <label class="mdl-textfield__label" for="">Village...</label>
                              </div>
              
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">Post...</label>
                              </div>
              
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">District...</label>
                              </div>
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">State...</label>
                              </div>
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">PIN Code...</label>
                              </div>
                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                      <input class="mdl-textfield__input" type="text" id="">
                                      <label class="mdl-textfield__label" for="">STD Code...</label>
                              </div>
                          </div>
                        </br>

                          <div class="address_where_lni_proposed">    

                                <p class="login-heading">Address Where LNI office is proposed</p>
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:73%">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">Landmark...</label>
                                  </div>
                                  </br>
                  
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="">
                                    <label class="mdl-textfield__label" for="">Village...</label>
                                  </div>
                  
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">Post...</label>
                                  </div>
                  
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">District...</label>
                                  </div>
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">State...</label>
                                  </div>
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">PIN Code...</label>
                                  </div>
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                          <input class="mdl-textfield__input" type="text" id="">
                                          <label class="mdl-textfield__label" for="">STD Code...</label>
                                  </div>
                              </div>

                            </br>

                            <div class="banking_details">    
        
                              <p class="login-heading">Banking </p>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:73%">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">Bank Name...</label>
                                </div>
                                </br>
                
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" id="">
                                  <label class="mdl-textfield__label" for="">Brance Name...</label>
                                </div>
                
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">Place...</label>
                                </div>
                
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">Bank A/C no...</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">CC / S /B...</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">IFSC Code...</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="">
                                        <label class="mdl-textfield__label" for="">MICR Code...</label>
                                </div>
                            </div>

                           </br>

                <div class="reg-btn mdl-button mdl-js-button mdl-js-ripple-effect" id="myButton" onclick="carousel()">Register</div>
        </form>  


